body {
    /* background-color: blue; */
    padding: 20px;
    background-image: url("https://bit.ly/38yRWOZ");
    background-repeat: no-repeat;
    background-size: 1500px;
}

p {
    font-style: italic;
}

h1 {
    font-style: inherit;
    text-align: center;
}